<h1>書籍一覧(ユーザー用)</h1>

<table border="1">
    <thead>
        <th>書籍名</th>
        <th>説明</th>
        <th>価格</th>
        <th>在庫数</th>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td style="text-align: right;"><%= product.price %> 円</td>
            <td style="text-align: right;"><%= stock_label(product) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
