<h1>書籍一覧(ユーザー用)</h1>

<p>
    <%= link_to 'ログアウト', destroy_public_users_user_session_path, data: { turbo_method: :delete } %>
</p>

<table border="1">
    <thead>
        <th>書籍名</th>
        <th>著者名</th>
        <th>価格</th>
        <th>在庫数</th>
    </thead>
    <tbody>
        <%= render partial: "product", collection: @products %>
    </tbody>
</table>
